* {
    margin: 0;
}

html, body {
    height: 100%;
}

body, main {
    display: flex;
}

html {
    font-size: 48px;
    font-family: "Jersey 10", sans-serif;
    background: black;
    color: black;
}

body {
    background-image: url("iconic-pb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.4rem;
}

main article:not(:last-child) {
    padding-bottom: 0.25rem;
}

button {
    color: inherit;
    padding-block: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: disclosure-closed;
}

li:hover {
    color: white;
}

article h1 {
    padding-bottom: 0.25rem;
}

h1 {
    font-size: 2rem;
    line-height: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-style: inherit;
    font-size: 1rem;
    line-height: 0.75rem;
    cursor: inherit;
    color: inherit;
}

img {
    max-width: 320px;
}

.ibd-font {
    color: white;
}

.ibd-story {
    background-color: black;
    border-radius: 3px;
}

article:has( > .ibd-story) {
    padding: 0.5rem 0;
}

h3:has(+ .ibd-story) {
    padding-bottom: 0.2rem;
}

.ibd-story > p {
    font-size: 0.8rem;
    line-height: 0.65rem;
    text-align: left;
    padding: 0.2rem;
}

.flasher {
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
	color: black;
    }

    40% {
	color: white;
    }

    80% {
	color: #FE74BF;
    }
}

