* {
	margin: 0;
}

html, body {
	height: 100%;
}

html {
	font-size: 48px;
	font-family: "Jersey 10", sans-serif;
	background: black;
}

body {
    background-image: url("iconic-pb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

button {
    color: inherit;
    padding-block: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: inherit;
}

a {
    text-decoration: none;
}

p {
    font-style: inherit;
    color: black;
    font-size: 1rem;
    cursor: inherit;
}

.yt-link {
    animation-name: flash;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    from {
	color: black;
    }

    to {
	color: white;
    }
}

