* {
    margin: 0;
}

html, body {
    height: 100%;
}

html, body, main {
    display: flex;
    flex-direction: column;
}

html {
    font-size: 48px;
    font-family: "Jersey 10", sans-serif;
    background: black;
    color: black;
}

body, main {
    align-items: center;
}

body {
    background-image: url("iconic-pb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 0.4rem;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    padding: 0.4rem 0;
    z-index: 1;
    cursor: pointer;
}

#menu > p {
    display: flex;
    align-items: center;
}

#menuTri {
    font-size: 0.4rem;
    padding-left: 0.2rem;
}

.menu-links-init {
    display: none;
}

.menu-links-closed {
    display: none;
    animation: 500ms ease-in 0s slider-out;
}

.menu-links-open {
    display: block;
    animation: 500ms ease-in 0s slider-in;
}

main {
    width: 100%;
    text-align: center;
    max-width: 1400px;
}

main article:not(:last-child) {
    padding-bottom: 0.25rem;
}

button {
    color: inherit;
    padding-block: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: disclosure-closed;
    padding-inline-start: 0;
    width: fit-content;
}

li:hover {
    color: white;
}

article h1 {
    padding-bottom: 0.25rem;
}

h1 {
    font-size: 2rem;
    line-height: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-style: inherit;
    font-size: 1rem;
    line-height: 0.75rem;
    cursor: inherit;
    color: inherit;
}

img {
    max-width: 320px;
}

.ibd-font {
    color: white;
}

.ibd-cover-wrap {
    display: flex;
    flex-direction: column;
}

.ibd-cover-wrap > img {
    padding-bottom: 0.25rem;
}

.ibd-links {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article:has( > .ibd-story) {
    background-color: black;
    padding: 0.5rem 0;
}

.ibd-story {
    padding: 0 0.4rem;
}

h3:has(+ .ibd-story) {
    padding-bottom: 0.2rem;
}

.ibd-story > p {
    font-size: 0.8rem;
    line-height: 0.65rem;
    text-align: left;
    padding: 0.2rem 0;
}

.ibd-story > img {
    padding: 0.6rem 0;
}

.flasher {
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
	color: black;
    }

    40% {
	color: white;
    }

    80% {
	color: #FE74BF;
    }
}

@keyframes slider-in {
    0% {
	transform: translateY(-100%);
    }

    20% {
	transform: translateY(-80%);
    }

    40% {
	transform: translateY(-60%);
    }

    80% {
	transform: translateY(20%);
    }
}

@keyframes slider-out {
    0% {
	transform: translateY(0%);
	display: block;
    }

    20% {
	transform: translateY(-40%);
	display: block;
    }

    40% {
	transform: translateY(-80%);
	display: block;
    }

    60% {
	transform: translateY(-100%);
	display: none;
    }
}

@media (min-width: 900px) {
    img {
	max-width: 600px;
    }

    .ibd-cover-wrap {
        flex-direction: row;
	align-items: center;
    }

    .ibd-cover-wrap > img {
	max-width: 400px;
	padding-bottom: 0;
    }

    .ibd-links {
	margin-left: 0.5rem;
	justify-content: center;
	width: 300px;
	height: fit-content;
    }
}

