<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="assets/iconic-pb.jpg" />
    <link rel="stylesheet" type="text/css" href="assets/poop.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Itty Bitty Ditties</title>
  </head>
  <body>
    <nav>
      <button id="menu"><p>MENU <span id="menuTri">&#9650;</span></p></button>
      <ul class="menu-links-init">
        <li><a href="/"><p>HOME</p></a></li>
        <li><a href="/itty-bitty-ditties"><p>ITTY BITTY DITTIES</p></a></li>
      </ul>
    </nav>
    <main class="ibd-font"> 
      <article class="ibd-cover-wrap">
        <img alt="Itty Bitty Ditties Cover Art" src="assets/ibd/ibd-cover.png" />
        <div class="ibd-links">
          <h2>Listen on</h2>
          <ul>
            <li>
	      <a href="https://open.spotify.com/artist/66aZs6ywhIiugYOCyOu4Vt?si=9_xHrY_kS86RstSl3y8Cpw" target="_blank" rel="noopener noreferrer">
	        <button><p>SPOTIFY</p></button>
	      </a>
            </li>
	    <li>
	      <a href="https://music.apple.com/us/artist/potty-bomber/1768641662" target="_blank" rel="noopener noreferrer">
	        <button><p>APPLE MUSIC</p></button>
	      </a>
	    </li>
            <li>
              <a href="https://pottybomber.bandcamp.com" target="_blank" rel="noopener noreferrer">
                <button><p>BANDCAMP</p></button>
              </a>
            </li>
          </ul>
        </div>
      </article>
      <article>
        <h3>The Back Story</h3>
        <div class="ibd-story">
          <img alt="Potty Bomber poses with chinchillas and volunteers in front of a bomber plane" src="assets/ibd/chinchilla-bombs.png" />
          <p>The Potty Bomber gained this blessed name in the skies above the battlefields of the war between good-time goblins and e-villa chinchillas where he volunteered as a bombardier on the side of the chinchillas</p>
          <p>Although he was a fun hang, the Potty Bomber was an indubitably awful bombardier</p>
          <p>Try as he might—and HARD he tried—he never once hit any of his ASSigned targets</p>
          <p>Instead, much to the chagrin of his chinchilla superiors, each time he let one of those big ol’ bombs fly he invariably hit a portable potty</p>
          <img alt="Potty Bomber strikes a pose minutes before hitting a portable potty with a bomb" src="assets/ibd/pb-plane.png" />
          <p>Even while flying high above the heart of the party jungle of Greater New Goblinland where nary a goblin, person, nor chinchilla could hope to find bathroom facilities, the Potty Bomber managed to hit nothing but portable potties inexplicably placed around every battlefield</p>
          <p>You might call it a curse if it wasn’t so impressive and unintentionally pacifist</p>
          <p>But of course this curious knack was of no use to the e-villa chinchilla cause</p>
          <p>And so, although the lot of them chinchillas were sad to see such a fun dude depart, the head of the e-villa air forces ultimately asked our hero to give up this business of bombing and kindly leave, but not before bestowing upon him the now obvious moniker of the Potty Bomber</p>
          <img alt="Potty Bomber crashes into a portable potty near the double summit of Butt Mountain" src="assets/ibd/mountain-crash.png" />
          <p>Solemnly and honorably, our hero the PB Jelly Man [yet another cool ass name that naturally spun off from the first of course] left on the first flight home, but the plane didn’t make it too far because—well nobody with a head set right on their shoulders would call the Potty Bomber accurate but goddammit if the man wasn’t consistent—the plane crashed straight into a portable potty near the double summit of Butt Mountain left there by representatives of a big ass energy corporation drilling for natural gas in a crack between the two summits who all tragically died when one of the them lit a match near the gas hole</p>
          <p>Anyhoo the Potty Bomber survived the plane crash snafu and survived the waiting game too waiting on a rescue crew but he took a lil bit of Butt Mountain home with him—true—because one time when he went out foraging for food he got bit by a jitter bug dude</p>
          <img alt="Potty Bomber fights a jitter bug while foraginging for food" src="assets/ibd/bug-fight.png" />
          <p>This lil bug pumped him full of dittiotic fluid infusing into him the Dittiotic Spottiotic Dopaliscious Syndrome so when he got back home the authorities didn’t let him go all the way home instead they quarantined him in a cold cell apart from all humanity and art and told him to wait his turn to be judged before the Itty Bitty Ditty Committee</p>
        </div>
      </article>
    </main>
  </body>
  <script src="assets/boobies.js"></script>
</html>
