<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="assets/iconic-pb.jpg" />
    <link rel="stylesheet" type="text/css" href="assets/poop.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Potty Bomber</title>
  </head>
  <body>
	<main>
	    <article>
	      <h1>PB JELLY JAMS</h1>
	      <a href="https://www.youtube.com/@pottybomber" target="_blank" rel="noopener noreferrer">
		<button>
		  <p class="yt-link">a potty bomber rises</p>
		</button>
	      </a>
	    </article>
	</main>
  </body>
</html>
