<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="assets/iconic-pb.jpg" />
    <link rel="stylesheet" type="text/css" href="assets/poop.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Potty Bomber</title>
  </head>
  <body>
    <nav>
      <button id="menu"><p>MENU <span id="menuTri">&#9650;</span></p></button>
      <ul class="menu-links-init">
        <li><a href="/"><p>HOME</p></a></li>
        <li><a href="/itty-bitty-ditties"><p>ITTY BITTY DITTIES</p></a></li>
      </ul>
    </nav>
	<main class="flasher">
	    <article>
	      <h1>PB JELLY JAMS</h1>
	      <p>a potty bomber rises</p>
	    </article>
	    <article>
	      <h2>MUSIC</h2>
	      <ul>
		<li>
		  <a href="https://open.spotify.com/artist/66aZs6ywhIiugYOCyOu4Vt?si=9_xHrY_kS86RstSl3y8Cpw" target="_blank" rel="noopener noreferrer">
		    <button><p>SPOTIFY</p></button>
		  </a>
		</li>
		<li>
		  <a href="https://music.apple.com/us/artist/potty-bomber/1768641662" target="_blank" rel="noopener noreferrer">
		    <button><p>APPLE MUSIC</p></button>
		  </a>
		</li>
		<li>
		  <a href="https://pottybomber.bandcamp.com" target="_blank" rel="noopener noreferrer">
		    <button><p>BANDCAMP</p></button>
		  </a>
		</li>
		<li>
		  <a href="https://www.youtube.com/@pottybomber" target="_blank" rel="noopener noreferrer">
		    <button><p>YOUTUBE</p></button>
		  </a>
		</li>
	      </ul>
	    </article>
	</main>
  </body>
  <script src="assets/boobies.js"></script>
</html>
