<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:url" content="https://www.pbjellyjams.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Term Hanks" />
    <meta property="og:description" content="Term Hanks is stuck in a computer terminal due to geopolitical realities beyond his control" />
    <meta property="og:image" content="https://www.pbjellyjams.com/assets/iconic-pb.jpg" />
    <link rel="icon" type="image/svg+xml" href="assets/iconic-pb.jpg" />
    <link rel="stylesheet" type="text/css" href="assets/poop.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/term-hanks/xterm.css" />
    <title>Term Hanks</title>
  </head>
  <body>
    <nav>
      <button id="menu"><p>MENU <span id="menuTri">&#9650;</span></p></button>
      <ul class="menu-links-init">
        <li><a href="/"><p>HOME</p></a></li>
        <li><a href="/itty-bitty-ditties"><p>ITTY BITTY DITTIES</p></a></li>
      </ul>
    </nav>
	<main>
	  <div id="terminal"></div>
	</main>
  </body>
  <script src="assets/boobies.js"></script>
  <script src="assets/term-hanks/bundle.js"></script>
</html>
